{{>head seo='Lista dzieci'}}

    <h1>Lista Dzieci</h1>
        {{#each children}}
        <form action="/child/gift/{{this.id}}?_method=PATCH" method="POST">
            <li>
                {{this.id}}:  
               <label >
                    {{this.name}}, 
                </label>
                <select name="gift_id" id="">
                    <option value="">Brak</option>
                        {{#each ../gifts}}
                       
                             <option value="{{this.id}}"
                                {{#if (ifEquals ../this.gift_id this.id)}}
                                    selected
                                {{/if}}
                                >{{this.name}}</option>
                        {{/each}}

                    

                </select>
                
                <button type="submit">Zapisz prezent</button>
            </li>
        </form>
        {{/each}}
    </ul>
<h2>Dodaj dziecko do listy</h2>
<form action"/children" method="POST">
    <label for="name">
        Imię
        <input name="name">
    </label>
    <button type="submit">Dodaj</button>
</form>